@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #121212, #303030);
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px; /* Увеличиваем отступ снизу */
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;

    color: #FF4500;
    letter-spacing: 0.5px;
    margin-bottom: 20px; /* Увеличиваем отступ снизу */
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.small-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #AAAAAA;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px; /* Отступы вокруг контейнера */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Адаптивные колонки с минимальной шириной */
    gap: 25px; /* Увеличиваем промежутки между элементами */
    padding: 20px; /* Отступы вокруг сетки */
    width: 100%; /* Устанавливаем ширину контейнера */
}

.cell {
    background: linear-gradient(160deg, #303030, #161616);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
    padding: 10px; /* Дополнительный отступ внутри блока */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Добавляем тень для объема */
}

.cell:hover {
    background: linear-gradient(160deg, #313131, #1b1b1b);
    transform: translateY(-5px); /* Эффект поднятия при наведении */
}

.tech-image {
    width: 100%;
    height: auto;
    background-color: #1e1e1e;
}

.tech-label {
    background: rgba(30, 30, 30, 0.9);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    word-wrap: break-word;
    min-height: 40px;
    box-sizing: border-box;
    margin-top: 10px; /* Дополнительный отступ сверху */
}

.modal {
    display: none;
    opacity: 0; /* Прозрачное в скрытом состоянии */
    transition: opacity 0.3s ease; /* Плавная анимация изменения прозрачности */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background: linear-gradient(120deg, rgba(49, 49, 49, 0.9), rgba(26, 26, 26, 0.7));
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    margin: 15% auto;
    border: 1px solid #000000;
    width: 80%;
    max-width: 600px;
    word-wrap: break-word;
    font-size: 20px;
    line-height: 1.8; /* Увеличиваем межстрочный интервал для удобства чтения */
}

.close-button {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Новые стили для ссылок */
a {
    color: #ff4d4d; /* Красно-оранжевый цвет */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Кнопка добавления */
.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #666;
}

/* Кнопка меню */
.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #555;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #666;
}

.bar {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 3px 0;
}

/* Выпадающее меню */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
}

.dropdown-item:hover {
    background-color: #555;
}
.modal.open {
    display: block; /* Показываем окно */
    opacity: 1; /* Устанавливаем непрозрачность */
}
button {
    background: linear-gradient(90deg, #FF4500 0%, #FF6347 100%);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    background: linear-gradient(90deg, #FF6347 0%, #FF4500 100%);
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(255, 69, 0, 0.5);
}
